<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: header }"></head>
<body>

<table class="table table-striped" th:object="${employee}">
    <tr>
        <td>Name :</td>
        <td th:text="${employee.name}"></td>
    </tr>
    <tr>
        <td>ID card :</td>
        <td th:text="${employee.idCard}"></td>
    </tr>
    <tr>
        <td>Phone :</td>
        <td th:text="${employee.phone}"></td>
    </tr>
    <tr>
        <td>Email :</td>
        <td th:text="${employee.email}"></td>
    </tr>
    <tr>
        <td>Birthday :</td>
        <td th:text="${employee.birthday}"></td>
    </tr>
    <tr>
        <td>Salary :</td>
        <td th:text="${employee.salary}"></td>
    </tr>
    <tr>
        <td>Address :</td>
        <td th:text="${employee.address}"></td>
    </tr>
    <tr>
        <td>Division :</td>
        <td th:text="${employee.division.name}"></td>
    </tr>
    <tr>
        <td>Education degree :</td>
        <td th:text="${employee.educationDegree.name}"></td>
    </tr>
    <tr>
        <td>Position :</td>
        <td th:text="${employee.position.positionName}"></td>
    </tr>
    <tr>
        <td>Email :</td>
        <td th:text="${employee.user.email}"></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: right">
            <button class="btn btn-primary">
                <a th:href="@{/employee}" style="color: white">Done</a>
            </button>
        </td>
    </tr>
</table>


<!--<div th:insert="~{layout :: bootstrap}"></div>-->
</body>
</html>