<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Customer's information</h3>
<p>
    <a th:href="@{/}">
        Back to customer list
    </a>
</p>
<div th:object="${customer}">
    <table id="product">
        <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="*{firstName}"></td>
            <td th:text="*{lastName}"></td>
            <td>
                <a th:href="@{/{id}/edit(id=${customer.getId()})}">edit |</a>
                <a th:href="@{/{id}/delete(id=${customer.getId()})}">delete |</a>
                <a th:href="@{/{id}/view(id=${customer.getId()})}">view</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>