<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{layout::head}"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:insert="~{layout::menu}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 style="text-align: center">Order Information</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <button class="btn btn-primary ml-1">
                <a th:href="@{/order}" class="text-white">Back to order's list</a>
            </button>
        </div>
    </div>
    <div class="row" >
        <div class="col-12">
            <table class="table table-striped" th:object="${order}" >
                <thead>
                <tr>
                    <th scope="col">Product's name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${order.id}" hidden></td>
                </tr>
                <tr th:each="product : ${order.productSet}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.category.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.productDetail.description}"></td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{/order/{id}/edit(id=${order.id})}">Edit |</a>
                        <a th:href="@{/order/{id}/delete(id=${order.id})}">Delete |</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>