<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="header">
        <meta charset="UTF-8">
        <title>Project Sem 4</title>
    </head>
    <body>

        <footer th:fragment="footer">
            <div class="container-fluid py-5" style="background-color:#dbdbdb;">
                <div class="row d-flex justify-content-around mx-auto" style="width: 1000px; max-width: 1000px;">
                    <div class="col-2">
                        <div>
                            <p class="font-weight-bold">Liên Kết</p>
                        </div>

                        <div class="d-flex align-items-center">
                            <i class="fab fa-facebook-square" style="font-size: 25px;"></i>
                            <span class="ml-2">Facebook</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="fab fa-google-plus-g" style="font-size: 25px;"></i>
                            <span class="ml-2">Google+</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="fab fa-youtube" style="font-size: 25px;"></i>
                            <span class="ml-2">Youtube</span>
                        </div>
                    </div>

                    <div class="col-2">
                        <p class="font-weight-bold">Bản di động</p>
                        <img class="mb-2" src="https://static.chotot.com/storage/marketplace/ios-logo.svg" alt=""
                             height="32px">
                        <img src="https://static.chotot.com/storage/marketplace/gg-play.svg" alt="" height="32px">
                    </div>

                    <div class="col-3">
                        <p class="font-weight-bold mb-2">Hỗ trợ khách hàng</p>
                        <p class="my-0 py-0">Trung tâm trợ giúp</p>
                        <p class="my-0 py-0">An toàn mua bán</p>
                        <p class="my-0 py-0">Quy định cần biết</p>
                        <p class="my-0 py-0">Liên hệ hỗ trợ</p>
                    </div>

                    <div class="col-2">
                        <p class="font-weight-bold mb-2">Về Chotot.com</p>
                        <p class="my-0 py-0">Giới thiệu</p>
                        <p class="my-0 py-0">Tuyển dụng</p>
                        <p class="my-0 py-0">Truyền thông</p>
                        <p class="my-0 py-0">Blog</p>
                    </div>

                    <div class="col-2">
                        <p class="font-weight-bold mb-2">Chứng nhận</p>
                        <img src="https://static.chotot.com/storage/marketplace/cerfiticate.png" alt="" height="38px">
                    </div>
                </div>

                <div class="row mx-auto mt-4 text-center d-flex justify-content-center"
                     style="width: 1000px; max-width: 1000px;">
                    <p class="text-center" style="font-size: 13px;">
                        CÔNG TY TNHH CHỢ TỐT - Địa chỉ: Phòng 1808, Tầng 18, Mê Linh Point Tower, 02 Ngô Đức Kế, Phường
                        Bến Nghé, Quận 1, TP Hồ Chí Minh
                        <br>
                        <span>Giấy chứng nhận đăng ký doanh nghiệp số 0312120782 do Sở Kế Hoạch và Đầu Tư TP Đà Nẵng cấp
                            ngày
                            11/01/2013
                        </span>
                        <br>
                        <span>Email: trogiup@chotot.vn - Đường dây nóng: (084)364452261</span>
                    </p>
                </div>
            </div>
            <!-- ****************** End Footer *********************** -->
        </footer>
    </body>
</html>