<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
</head>
<body>
<form th:action="@{/create}" method="post" th:object="${user}">
    <fieldset>
        <legend>Register Form</legend>
        <table>
            <tr>
                <td>Name :</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Email : </td>
                <td><input type="text" th:field="*{email}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="submit"></td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>