<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{homepage::head}"></head>
<body>
<div class="container">
    <div th:insert="~{homepage::menu}"></div>
    <div  class="row mt-3">
        <div class="col-4">
            <button class="btn btn-primary ml-1">
                <a th:href="@{/customer}" class="text-white"> Back to customer list</a>
            </button>
        </div>
        <div class="col-4"></div>
        <div class="col-4"></div>
    </div>
    <div class="row mt-3">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="row">
                <div class="col-12" style="background-color: #e3dcff">
                    <h3>Are you sure to delete this customer ?</h3>
                </div>
            </div>
            <div class="row">
                <form th:action="@{/customer/delete-customer}" th:object="${customer}" method="post">
                    <div class="form-group">
                        <input type="text" th:field="*{id}" hidden>
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" th:field="*{firstName}"
                               id="firstName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" th:field="*{lastName}"
                               id="lastName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="provinceSelect">Province Name</label>
                        <input type="text" class="form-control" th:field="*{province.name}"
                               id="provinceSelect" readonly>
                    </div>
                    <button type="submit" name="submit" value="Delete" class="btn btn-primary">Delete</button>
                    <button type="submit" name="submit" class="btn btn-primary">Cancel</button>
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>


<footer th:insert="~{homepage::footer}"></footer>
</body>
</html>