<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{homepage::head}"></head>
<body>
<div class="container">
    <div th:insert="~{homepage::menu}"></div>
    <div  class="row mt-3">
        <div class="col-4">
            <button class="btn btn-primary ml-1">
                <a th:href="@{/customer}" class="text-white"> Back to customer list</a>
            </button>
        </div>
        <div class="col-4"></div>
        <div class="col-4"></div>
    </div>
    <div class="row mt-3">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="row">
                <div class="col-12" style="background-color: #e3dcff">
                    <h3>Update customer</h3>
                </div>
            </div>
            <div class="row">
                <form th:action="@{/customer/edit-customer}" th:object="${customer}" method="post">
                    <div class="form-group">
                        <input type="text" th:field="*{id}" hidden>
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" th:field="*{firstName}"
                               id="firstName">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" th:field="*{lastName}"
                               id="lastName">
                    </div>
                    <div class="form-group">
                        <label for="provinceSelect">Province Name</label>
                        <select id="provinceSelect" class="custom-select" th:field="*{province}">
                            <option th:each="p : ${province}" th:value="${p.provinceId}"
                                    th:text="${p.name}"
                                    th:selected=" (${p.provinceId} == *{province.provinceId})"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

</div>


<footer th:insert="~{homepage::footer}"></footer>
</body>
</html>