<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{homepage::head}"></head>
<body>
<div class="container">
    <div th:insert="~{homepage::menu}"></div>
    <div class="row mt-3">
        <div class="col-8">
            <button class="btn btn-primary ml-1">
                <a th:href="@{/customer/add}" class="text-white">Add new customer</a>
            </button>
        </div>
        <div class="col-4">
            <form th:action="@{/customer}" class="form-inline">
                <input class="form-control mr-sm-2" type="search" name="name" placeholder="search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div th:if="${success}">
                <h3 style="color: red" th:text="${success}"></h3>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Province</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.firstName}"></td>
                    <td th:text="${customer.lastName}"></td>
                    <td th:text="${customer.province.name}"></td>
                    <td>
                        <a th:href="@{/customer/{id}/edit(id=${customer.id})}">Edit |</a>
                        <a th:href="@{/customer/{id}/delete(id=${customer.id})}">Delete |</a>
                        <a th:href="@{/customer/{id}/view(id=${customer.id})}">View </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <a th:href="@{'/customer'(page=${customers.number - 1},name=${name})}" th:if="${customers.hasPrevious()}">Previous</a>
                <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
                <a th:href="@{'/customer'(page=${customers.number + 1},name=${name})}" th:if="${customers.hasNext()}">Next</a>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{homepage::footer}"></footer>
</body>
</html>