<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{layout::head}"></head>
<body style="background-color: white">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:insert="~{layout::menu}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 style="color: red">Are you sure to delete this category?</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <form th:action="@{/category/delete}" method="post" th:object="${category}">
                <div class="form-group">
                    <input th:field="*{id}" hidden>
                    <label for="name">Name</label>
                    <input id="name" th:field="*{name}" readonly>
                </div>
                <div>
                    <button class="btn btn-danger" type="submit" name="submit" value="Delete">Delete</button>
                    <button class="btn btn-primary" type="submit" name="submit" >Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>